$color_1: white;
$color_2: black;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: whitesmoke;
$background-color_2: black;
$background-color_3: white;
$background-color_4: #007bff;
$background-color_5: #0056b3;
$background-color_6: lightblue;

/* Добавьте дополнительные стили здесь при необходимости */
/* Стили для ячеек таблицы для центрирования содержимого */
/* Создание черного квадрата на иконке инструмента рисования */
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: $font-family_1;
}
html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: $font-family_1;
}
.container {
	display: flex;
	height: calc(100% - 50px);
	max-width: none;
	padding: 0;
}
#map {
	flex-grow: 1;
}
.sidebar {
	width: 40%;
	background-color: $background-color_1;
	padding: 20px;
	border-left: 2px solid #C0C0C0;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background-color_2;
	color: $color_1;
	padding-left: 20px;
	padding-right: 20px;
}
.header-section {
	display: flex;
}
.logo-section {
	height: 40px;
	filter: drop-shadow(0 0 5px white);
	justify-content: center;
	width: 25%;
	.logo {
		height: 40px;
		filter: drop-shadow(0 0 5px white);
	}
}
.dates-section {
	justify-content: center;
	width: 50%;
	label {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color_2;
		background-color: $background-color_3;
		font-family: $font-family_1;
		font-size: 1em;
		padding: 0.5em 1em;
		border: 1px solid #ccc;
		border-radius: 0.5em;
		height: 2em;
		min-width: 8em;
		line-height: 2em;
		&:not(:first-child) {
			margin-left: 10px;
		}
	}
	.date-input {
		color: $color_2;
		background-color: $background-color_3;
		font-family: $font-family_1;
		font-size: 1em;
		padding: 0.5em 1em;
		border: 1px solid #ccc;
		border-radius: 0.5em;
		height: 2em;
		min-width: 8em;
	}
}
.button-section {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 25%;
}
.header-button {
	font-family: $font-family_1;
	font-size: 16px;
	color: $color_1;
	background-color: $background-color_4;
	border: none;
	height: 3em;
	cursor: pointer;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: $background-color_5;
	}
}
.processing-container {
	height: 30%;
	display: flex;
    flex-direction: row; /* Располагаем дочерние элементы горизонтально */
	align-items: stretch; /* Растягиваем дочерние элементы по высоте */
	.image-crop-container {
		flex: 0 0 65%; /* Занимаем 70% ширины родительского контейнера */
		display: flex;
		justify-content: space-between; /* Равномерно распределяем пространство между дочерними элементами */
	}
	
	.left, .right {
		flex: 1; /* Равномерно распределяем пространство между .left и .right */
		
	}
	.right {
		flex: 0 0 30%; 
		display: flex; /* Устанавливаем родительский контейнер как flex-контейнер */
		justify-content: center; /* Выравниваем элементы по горизонтали по центру */
		align-items: center; /* Выравниваем элементы по вертикали по центру */
		height: 100%; /* Устанавливаем высоту родительского контейнера на 100% */
	}
	.input-container {
		display: flex;
		align-items: center;
	}
	
	.input-container input {
		margin-right: 3px; /* Отступ между полем ввода и кнопкой */
	}
	
}


.submit-button {
    color: black;
	border: 1px solid #ccc; /* Граница толщиной 1px */
    border-radius: 4px;
    cursor: pointer;
}

#infoBox {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid black;
	padding: 20px;
	z-index: 9999;
}
.highlighted {
    background-color: lightblue;
}
.submit-button:hover {
    background-color: grey;
}
#sliderContainer {
    height: 100%; /* Устанавливаем высоту контейнера слайдера на 100% высоты родительского контейнера */
    display: flex; /* Устанавливаем родительский контейнер как flex-контейнер */
    justify-content: flex-start; /* Выравниваем элементы по горизонтали по левому краю */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    border: 1px solid black; /* Добавляем границу вокруг контейнера */
	margin-left: -80px;
}

#slider {
    height: 100%; /* Слайдер займет 80% высоты своего родительского контейнера */
    width: 100px; /* Устанавливаем ширину слайдера на 100 пикселей */
}



.processing-container > * {
    flex: 1; /* Делим доступное пространство поровну между дочерними элементами */
    border: 1px solid black; /* Добавляем рамку для визуализации разделения */
}


.filter-title{
	margin-top: 2vh;
	margin-left: 0.7vh;
	font-weight: bold;

	
	  @media (min-height: 510px) and (max-height: 800px) {
		margin-top: 0px;
		font-weight: bold;
		margin-bottom: 0;
	  }
}

#angle{
	margin-left: 0.7vh;
}



/* Дополнительные медиа-запросы для других разрешений */
/* ... */

#dataTable {
	display: block;
    border: 1px solid #ccc; // Граница вокруг всей таблицы
	text-align: center;
	max-height: 60vh;
	overflow-y: auto;

	th, td {
		border: 1px solid #ccc; // Добавление границ для ячеек
		padding: 10px;
		text-align: center;
		vertical-align: middle;
	}

	th {
		&:not(:nth-child(3)) {
			width: calc((25% - 20px) / 4);
			padding-left: 5px;
			padding-right: 5px;
		}
		&:nth-child(2) {
			width: 20%;
		}
	}

	tr {
	    border-bottom: 1px solid #ccc; // Добавление границ между строками
	}
}


.table-cell {
	text-align: center;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fa-regular {
	display: inline-block;
	vertical-align: middle;
}
.fa-solid {
	display: inline-block;
	vertical-align: middle;
}
.fas {
	display: inline-block;
	vertical-align: middle;
}
@media (max-width: 768px) {
	.sidebar {
		width: 100%;
		padding: 10px;
		border-left: none;
	}
	.header {
		flex-direction: column;
	}
	.logo-section {
		width: 100%;
	}
	.dates-section {
		width: 100%;
		label {
			&:not(:first-child) {
				margin-left: 0;
				margin-top: 10px;
			}
		}
	}
	.button-section {
		width: 100%;
	}
}

input[type="checkbox"] {
	transform: scale(1.5); /* Увеличивает чекбокс в 1.5 раза */
	margin: 10px; /* Добавляет отступы вокруг чекбокса */
	cursor: pointer;
  }
  
  $color_1: #aaa;
  $color_2: black;
  $background-color_1: rgb(0,0,0);
  $background-color_2: rgba(0,0,0,0.4);
  $background-color_3: #fefefe;
  
  .modal {
	  display: none;
	  position: fixed;
	  z-index: 10000;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  background-color: $background-color_1;
	  background-color: $background-color_2;
  }
  .modal-content {
	  background-color: $background-color_3;
	  margin: 15% auto;
	  padding: 20px;
	  border: 1px solid #888;
	  width: 80%;
  }
  .close {
	  color: $color_1;
	  float: right;
	  font-size: 28px;
	  font-weight: bold;
	  &:hover {
		  color: $color_2;
		  text-decoration: none;
		  cursor: pointer;
	  }
	  &:focus {
		  color: $color_2;
		  text-decoration: none;
		  cursor: pointer;
	  }
  }
  #modalImage {
	  width: 100%;
	  height: auto;
  }
  

